:root {
    /* Colors */
    --color-main-black: #282828;
    --color-main-blue: #1a89be;
    --color-main-blue1: #156185;
    --color-main-blue2: #0c3143;
    --color-main-white: #FFF;
    --color-main-grey: #F3F4F6;
    --color-main-grey1: #D1D5DB;
    --color-main-grey2: #6B7280;
    --color-main-green: #34D399;
    --color-main-green1: #68D391;
    --color-blue-gradient: linear-gradient(90deg, var(--color-main-blue) 0, var(--color-main-blue) 50%, var(--color-main-blue2) 100%);
    /* Font Format */
    --font-size-default: 15px;
    --font-size-small: 9px;
    --font-size-middle: var(--font-size-default);
    --font-size-large: 20px;
    --box-shadow-default: rgba(50, 50, 93, 0.25) 0 10px 10px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    /* Responsibility */
    --resolution-mobile-max-width: 820px;
}