@import "./base.css";
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
* {
    margin: 0 auto;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
    color: var(--color-main-black);
    /* transition-duration: 0.1s; */
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-main-grey3);
}

a,
a>i {
    text-decoration: none;
    color: var(--color-main-green);
    font-weight: 400;
}

i.icon-custom-style {
    position: relative;
    top: 2px;
}

a:hover {
    text-decoration: none;
    color: var(--color-main-white);
    font-weight: 400;
}

input,
textarea {
    border: none;
    outline: none;
    resize: none;
}

button {
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid var(--color-main-grey);
    background-color: var(--color-main-grey1);
    font-weight: 600;
}

button.success-btn {
    color: var(--color-main-white);
    background-color: var(--color-main-green);
}

button.disable-btn {
    opacity: 0.7;
    cursor: not-allowed;
}

button:hover {
    opacity: 0.7;
}

#app {
    background-color: var(--color-main-white);
    min-height: 100vh;
}

li {
    list-style: none;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

@media screen and (max-width: 800px) {
    .hide-on-mobile {
        display: none !important;
    }
    #app .page-container {
        padding: 0;
    }
}

.flex-row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-space-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-space-around-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-column-space-between-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-column-space-between-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-column-center-flex-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-row-center-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex-row-space-between-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-row-space-around-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-column-space-around-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-row-start-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-column-start-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-start-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-column-start-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-row-end-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-column-end-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.text-bold {
    font-weight: 700;
}

.page-container {
    background-color: var(--color-main-grey);
    border: 2px solid var(--color-main-grey1);
    margin: 30px 0 20px 0;
    padding: 30px;
    border-radius: 20px;
    width: 700px;
}